<div class="detailed-about-us">
    <div class="leaves">
        <img src="img/leaves-about.png" alt="leaves">
    </div>
    <div class="leaves-bottom">
        <img src="img/leaves-about.png" alt="leaves">
    </div>
    <div class="container">
        <div class="detailed-about-us__in">
            <h2>О нас</h2>
            <div class="detailed-about-us__in-banner">
                <div class="detailed-about-us__in-banner__item">
                    <img src="img/about-us-banner.jpg" alt="banner">
                </div>
            </div>
            <div class="detailed-about-us__info">
                <div class="detailed-about-us__info-text">
                    <h2 class="detailed-about-us__title">Добро пожаловать в Сибирский зоопарк!</h2>
                    <p>Сибирский Зоопарк создавался, как частный семейный зоопарк. Когда мы поняли, что все наши питомцы не помещаются дома, мы построили маленький зоопарк.</p>
                    <h2>Почему Сибирский?</h2>
                    <p>Хотелось показать гостям Прибайкалья и иркутянам видовое разнообразие животных нашего края. А ещё, не каждый может позволить себе держать дома собаку или даже кошку ( квартира, аллергия😥). И уж, конечно, медвежонка и волка! И тем более не всех сразу ))
                    </p>
                    <p>А как хочется порой и детям, и взрослым зарыться в густую шерсть и почувствовать мокрый нос друга…</p>
                    <h2>Сейчас у нас 2 постоянные площадки:</h2>
                    <ul>
                        <li>В Солнечном на Маршала Жукова, 36/4.
                        </li>
                        <li>В Листвянке у отеля Легенда Байкала.</li>
                    </ul>
                </div>
            </div>
            
            <div class="detailed-about-us__about glide">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        @@for ($i = 0; $i < 3; $i++) {
                <div class="detailed-about-us__about-item">
                    <div class="detailed-about-us__about-item-image">
                        <img src="img/fairy-tales.jpg" alt="photo">
                    </div>
                </div>
                        }   
                </div>
                </div>
            </div>
            <div class="services__pagination" v-if="services.slider">
                <div class="global__dots">
                    @@for ($i = 0; $i < 5; $i++) {
                        <div class="global__dot" :class="{'isActive': services.slider.index == `+ $i +`}" @click="services.slider.go('=`+ $i +`')">`+ $i +`</div>
                    }
                </div>
                <div class="services__arrows global__arows">
                    <div class="global__arow global__arow--prev" @click="services.slider.go('<')">
                        <div class="global__arow-in">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 40 16" fill="none"><path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM39.7071 8.70711C40.0976 8.31658 40.0976 7.68342 39.7071 7.29289L33.3431 0.928932C32.9526 0.538408 32.3195 0.538408 31.9289 0.928932C31.5384 1.31946 31.5384 1.95262 31.9289 2.34315L37.5858 8L31.9289 13.6569C31.5384 14.0474 31.5384 14.6805 31.9289 15.0711C32.3195 15.4616 32.9526 15.4616 33.3431 15.0711L39.7071 8.70711ZM1 9H39V7H1V9Z" fill="#2B2A29"></path></svg>
                        </div>
                    </div>
                    <div class="global__arow global__arow--next" @click="services.slider.go('>')">
                        <div class="global__arow-in">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 40 16" fill="none"><path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM39.7071 8.70711C40.0976 8.31658 40.0976 7.68342 39.7071 7.29289L33.3431 0.928932C32.9526 0.538408 32.3195 0.538408 31.9289 0.928932C31.5384 1.31946 31.5384 1.95262 31.9289 2.34315L37.5858 8L31.9289 13.6569C31.5384 14.0474 31.5384 14.6805 31.9289 15.0711C32.3195 15.4616 32.9526 15.4616 33.3431 15.0711L39.7071 8.70711ZM1 9H39V7H1V9Z" fill="#2B2A29"></path></svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="detailed-about-us__after-banner-text">
                <p class="litle-text">Если Вы любите не только животных, но и людей😁, вливайтесь к нам в команду. Зоопарк — это не работа. Зоопарк — это образ жизни.</p>
                <div class="for-the-press">
                    <h2>Для прессы</h2>
                    <p>Желаете написать о нас на своем онлайн-ресурсе или в печатном издании? Пожалуйста, свяжитесь с нами по адресу <a href="mailto:angelina_nikit@mail.ru">angelina_nikit@mail.ru</a> .</p>
                    <p>Вы можете использовать наш логотип везде, где посчитаете нужным: в Интернет, печатных изданиях или в других медиа.</p>
                </div>
                <div class="for-the-press-image">
                    <div class="image-item">
                        <img src="img/press-cat.jpg" alt="cat">
                        <span>Подпись к фотографии</span>
                    </div>
                </div>
            </div>

            <div class="detailed-about-us__info">
                <div class="detailed-about-us__info-text">
                    <h2 class="detailed-about-us__title">Добро пожаловать в Сибирский зоопарк!</h2>
                    <p>Сибирский Зоопарк создавался, как частный семейный зоопарк. Когда мы поняли, что все наши питомцы не помещаются дома, мы построили маленький зоопарк.</p>
                    <h2>Почему Сибирский?</h2>
                    <p>Хотелось показать гостям Прибайкалья и иркутянам видовое разнообразие животных нашего края. А ещё, не каждый может позволить себе держать дома собаку или даже кошку ( квартира, аллергия😥). И уж, конечно, медвежонка и волка! И тем более не всех сразу ))
                    </p>
                    <p>А как хочется порой и детям, и взрослым зарыться в густую шерсть и почувствовать мокрый нос друга…</p>
                    <h2>Сейчас у нас 2 постоянные площадки:</h2>
                    <ul>
                        <li>В Солнечном на Маршала Жукова, 36/4.
                        </li>
                        <li>В Листвянке у отеля Легенда Байкала.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>