.application-form {
    position: relative;
    &__leaves {
        position: absolute;
        bottom: 42px;
        left: 0;
        @media all and (max-width: 1260px) {
            top: 0;
            right: 0;
            transform: scale(-1, 1);
        }
        img {
            @media all and (max-width: 1260px) {
                width: 108px;
            }
        }
    }
    &__in {
        padding: 0 80px 120px;
        @media all and (max-width:740px) {
            padding: 0 16px 60px;
        }
        .confirmation {
            display: none;
            h2 {
                font-family: 'Calibri';
                font-weight: 700;
                font-size: 96px;
                line-height: 90px;
                margin-bottom: 40px;
                margin-top: 0;
                @media all and (max-width:1130px) {
                    font-size: 75px;
                    line-height: 75px;
                }
                @media all and (max-width:740px) {
                    font-size: 55px;
                    line-height: 67px;
                    margin-bottom: 20px;
                }
            } 
            p {
                margin: 0;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                max-width: 450px;
            }
        }
    }
    &__flex {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 1260px) {
            flex-direction: column;
        }
        &-text {
            max-width: 450px;
            margin-right: 92px;
            @media (max-width: 1260px) {
                max-width: 100%;
                margin-bottom: 30px;
                margin-right: 0;
            }
            h2 {
                font-family: 'Calibri';
                font-weight: 700;
                font-size: 96px;
                line-height: 90px;
                margin-top: 0;
                margin-bottom: 40px;
                @media all and (max-width:1130px) {
                    font-size: 75px;
                    line-height: 75px;
                }
                @media all and (max-width:740px) {
                    font-size: 55px;
                    line-height: 67px;
                    margin-bottom: 20px;
                    max-width: 250px;
                }
            }
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &__flex-form {
        @media (max-width: 1260px) {
            width: 100%;
        }
        .image-form img {
            width: 100%;
        }
    }
}