.banner {
    background: #F7E3C1;
    padding-top: 100px;
    position: relative;
    // overflow: hidden;
    @media all and (max-width:1260px) {
        padding-top: 80px;
    }
    .leaves {
        position: absolute;
        right: 0;
        top: 0;
        @media all and (max-width:740px) {
            top: 307px;
        }
        img {
            @media all and (max-width:740px) {
                width: 73px;
            }
        }
    }
    .grass {
        position: absolute;
        bottom: 10%;
        left: 0;
        @media all and (max-width:1260px) {
            display: none;
        }
    }
    &__in {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        padding: 0 80px 0 78px; 
        @media all and (max-width:1260px) {
            flex-direction: column;
        }       
        @media all and (max-width:740px) {
            padding: 0 0 0 16px;
        }
    }
    &__left {
        width: 40%;
        @media all and (max-width:1260px) {
            width: 100%;
        }
        span {
            font-family: 'Calibri';
            font-weight: 700;
            font-size: 96px;
            line-height: 103px;
            display: block;
            @media all and (max-width:1260px) {
                font-size: 80px;
                line-height: 75px;            
            }
            @media all and (max-width:740px) {
                font-weight: 700;
                font-size: 64px;
                line-height: 65px;
            }
        }
        .cities, .cities__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #EC6708;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        }
        .cities__item .icon img {
            @media all and (max-width:740px) {
                width: 20px;
            }
        }
        .cities {
            margin-top: 87px;
            justify-content: start;
            padding-bottom: 36px;
            @media all and (max-width:1260px) {
                margin-top: 40px;
                padding-bottom: 40px;
            }
            &__item:first-child {
                padding-right: 64px;
                @media all and (max-width:1260px) {
                    padding-right: 45px;
                }
            }
            &__item span {
                display: block;
                padding-bottom: 5px;
                border-bottom: 2px solid #EC6708;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                color: #EC6708;
                margin-right: 22px;
                @media all and (max-width:740px) {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
        .raccoon {
            position: relative;
            &__item {
                position: absolute;
                top: 50%;
                left: 0;
                @media all and (max-width:1260px) {
                    left: auto;
                    right: 0;
                    top: -80px;
                }
                @media all and (max-width:990px) {
                    right: 50px;
                    top: 62px;
                    z-index: 100;
                }
                @media all and (max-width:740px) {
                    top: 65px;
                }
                @media all and (max-width:427px) {
                    top: 132px;
                    right: 0;
                }
                
                img {
                    @media all and (max-width:990px) {
                        max-width: 230px;
                    }
                }
            }
            &__item:first-child {
                top: 125px;
                @media all and (max-width:1260px) {
                    top: 115px;
                    right: -60px;
                }
                @media all and (max-width:990px) {
                    top: 108px;
                    right: 108px;
                }
                @media all and (max-width:740px) {
                    top: 112px;
                }
                @media all and (max-width:427px) {
                    top: 144px;
                    right: 47px;
                }
                img {
                    @media all and (max-width:990px) {
                        max-width: 160px;
                    }
                }
            }
        }
        
    }
    &__right {
        width: 57.5%;
        position: relative;
        @media all and (max-width:1260px) {
            width: 100%;
        }
        .pay {
            position: absolute;
            top: -82px;
            left: 30px;
            @media all and (max-width:740px) {
                top: -142px;
                left: 0;
            }
            @media all and (max-width:427px) {
                top: -129px;
            }
            img {
                @media all and (max-width:427px) {
                    width: 108px;
                }

            }
            .circle {
                width: 79px;
                height: 79px;
                background: #2B2A29;
                border-radius: 50%;
                text-align: center;
                img {
                    padding: 33px 0;
                }
            }
        }
        .about {
            font-family: 'Calibri';
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            padding-bottom: 108px;
            max-width: 516px;
            padding-top: 25px;
            margin: 0;
            @media all and (max-width:1260px) {
                padding-top: 0;
                padding-bottom: 178px;
            }
            @media all and (max-width:740px) {
                width: 86%;
                padding-bottom: 157px;
            }
        }
    }
    .orange-blocks {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media all and (max-width:1260px) {
            justify-content: start;
        }
        &__item {
            max-width: 355px;
            background: #EC6708;
            border-radius: 20px 20px 0px 0px;
            padding: 50px 30px 30px;
            box-sizing: border-box;
            min-height: 446px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            @media all and (max-width:740px) {
                padding: 40px 20px;
                min-height: 395px;
                max-width: 242px;
            }
            &:first-child {
                background-image: url("../img/orange-bg.svg"), url("../img/orange-bg2.svg"),url("../img/orange-bg3.svg"),url("../img/orange-bg4.svg"),url("../img/orange-bg5.svg");
                background-position: 15% 55%, 84% 14%, 87% 55%,65% 100%, 87% 100%;
                background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
                margin-right: 28px;
            }
            &:last-child {
                background-image: url("../img/orange-bg6.svg"), url("../img/orange-bg7.svg");
                background-position: 50% 68%, 100% 89%;
                background-repeat: no-repeat, no-repeat;
            }
            h2 {
                font-family: 'Calibri';
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                margin-bottom: 19px;
                margin-top: 0;
                @media all and (max-width:740px) {
                    font-size: 32px;
                    line-height: 39px;
                    margin-bottom: 15px;
                }
            }
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                padding-bottom: 0;
            }
            .list {
                &__item {
                    border-bottom: 2px solid #2B2A29;
                    padding-bottom: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                }
                &__item:not(:last-child) {
                    margin-bottom: 26px;
                    @media all and (max-width:740px) {
                        margin-bottom: 14px;
                    }
                }
            }
            .button {
                display: block;
                background: #EC6708;
                border: 2px solid #2B2A29;
                border-radius: 200px;
                padding: 16px 44px;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    
}