.all-animals {
    position: relative;
    overflow: hidden;
    &__bg {
        z-index: 5;
        position: absolute;
        top: 0;
        right: 0;
        img {
            @media all and (max-width:740px) {
                width: 108px;
            }
        }
        @media all and (max-width:740px) {

        }
    }
    &__in {
        display: flex;
        padding: 75px 0 80px 80px;
        @media all and (max-width:990px) {
            flex-direction: column;
        }
        @media all and (max-width:740px) {
            padding: 34px 16px 0 16px;
        }
    }
    &__left {
        width: calc(258px + 67px);
        position: relative;
        z-index: 3;
        background: linear-gradient(to right, rgb(255, 251, 242) 0%, rgb(255, 251, 242) calc(100% - 20px), transparent 100%);
        padding-right: 67px;
        box-sizing: border-box;
        @media all and (max-width:990px) {
            width: 100%;
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: -2000px;
            top: 0;
            bottom: 0;
            right: 100%;
            background: rgb(255, 251, 242);
        }
        h2 {
            font-weight: 700;
            font-size: 96px;
            line-height: 90px;
            margin-bottom: 40px;
            font-family: 'Calibri';
            margin-top: 0;
            @media all and (max-width:1130px) {
                font-size: 75px;
                line-height: 75px;
            }
            @media all and (max-width:990px) {
                margin-bottom: 20px;
            }
            @media all and (max-width:740px) {
                font-size: 55px;
                line-height: 67px;
            }
        }
        span {
            display: block;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            max-width: 192px;
            @media all and (max-width:990px) {
                max-width: 100%;
                margin-bottom: 30px;
            }
        }
        .button {
            display: block;
            max-width: 100%;
            box-sizing: border-box;
            border: 2px solid #EC6708;
            border-radius: 200px;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            max-width: 223px;
            @media all and (max-width:990px) {
                display: none;
            }
            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
    &__right {
        @media all and (min-width: 991px) {
            width: calc(100% - 258px - 67px);
            padding-right: 190px;
        }
        // display: grid;
        // grid-template-columns: 1fr 1fr ;
        // grid-gap: 20px;
        // position: relative;
        // right: 6%;
        // z-index: 1;
        .glide__track {
            overflow: visible;
            height: 100%;
        }
        .glide__slides {
            height: 100%;
        }
    }
    &__item {
        padding: 73px 0px 40px 0px;
        background: #FCDFB3;
        border-radius: 20px;
        text-align: center;
        // max-width: 413px;
        position: relative;
        height: 100%;
        @media all and (max-width:740px) {
            max-height: 226px;
        }
        span {
            font-weight: 700;
            font-size: 24px;
            line-height: 38px;
            display: block;
            position: absolute;
            bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
    &__arrows {
        justify-content: flex-end;
        margin-top: 20px;
        margin-right: 40px;
         @media all and (max-width:990px) {
                display: none;
            }
    }
    &__bottom-mobile {
        display: none;
        @media all and (max-width:990px) {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-right: 75px;
        }
        @media all and (max-width:740px) {
            margin-top: 10px;
            margin-right: 0;
        }
        
        .button {
            box-sizing: border-box;
            border: 2px solid #EC6708;
            border-radius: 200px;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            max-width: 100%;
            width: 100%;
            @media all and (max-width:740px) {
                margin-top: 20px;
            }
            span {
                margin-right: 112px;
            }
        }
        .all-animals__arrows {
            display: flex;
            margin-right: 0;
        }
    }
}