.gallery {
    padding-top: 120px;
    position: relative;
    @media all and (max-width:740px) {
        padding-top: 120px;
    }
    &__big-branch {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        transform: scale(-1, 1);
        img {
            @media all and (max-width:740px) {
                width: 306px;
            }
        }
        @media all and (max-width:740px) {
            top: 90px;
            left: -56px;        
        }
    }
    &__paws {
        position: absolute;
        top: 21%;
        left: 59%;
        transform: scale(-1, 1);
        @media all and (max-width:1130px) {
            top: 15%;
        }
        img {
            @media all and (max-width:740px) {
                width: 105px;
            }
        }
        @media all and (max-width:740px) {
            top: 15%;
            left: 66%;       
        }
    }
    &__in {
        padding: 100px 80px 120px 80px;
        background: #FCDFB3;
        border-radius: 120px;
        @media all and (max-width:740px) {
            padding: 60px 16px;
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @media all and (max-width:990px) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media all and (max-width:740px) {
            margin-bottom: 33px;
        }
        h2 {
            font-family: 'Calibri';
            font-weight: 700;
            font-size: 96px;
            line-height: 90px;
            margin: 0;
            margin-right: 56px;
            width: 26%;
            padding-bottom: 20px;
            @media all and (max-width:1130px) {
                font-size: 75px;
                line-height: 75px;
            }
            @media all and (max-width:740px) {
                font-size: 55px;
                line-height: 67px;
            }

        }
        ul {
            list-style: none;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 52%;
            li {
                white-space: nowrap 
            }
            @media all and (max-width:1260px) {
                width: 30%;
            }
            li:not(:last-child) {
                margin-right: 40px;
                @media all and (max-width:1130px) {
                    margin-right: 20px;
                }
                @media all and (max-width:740px) {
                    margin-right: 40px;
                }
                
            }
            li a:active {
                color: #EC6708;
                border-bottom: 2px solid #EC6708;
            }
        }
        &-button {
            max-width: 238px;
            border: 2px solid #EC6708;
            border-radius: 200px;
            padding: 12px 44px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media all and (max-width:990px) {
                display: none;
            }
            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                margin-right: 20px;
                white-space: nowrap;
            }
        }
        &-button-mobile {
            display: none;
            width: 100%;
            box-sizing: border-box;
            margin-top: 40px;
            border: 2px solid #EC6708;
            border-radius: 200px;
            padding: 12px 44px;
            align-items: center;
            justify-content: space-between;
            @media all and (max-width:990px) {
                display: flex;
            }
            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                margin-right: 20px;
                white-space: nowrap;
            }
        }
    }
    &__images {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-gap: 20px;
        width: 100%;
        &-item {
            max-height: 354px;
            height: 100%;
            @media all and (max-width:740px) {
                max-height: 250px;
            }
            iframe{
                border: 5px solid #EC6708;
                border-radius: 20px;
                height: 354px;
            }
            img {
                object-fit: cover;
                width: 100%;
                border: 5px solid #EC6708;
                border-radius: 20px;
                height: 354px;
                box-sizing: border-box;
            }
        }
    }
    &__pagination {
        @media all and (max-width:740px) {
            margin-top: 20px;
        }
    }
}