<div class="detailed-animal-page">
    <div class="detailed-animal-page__leaves">
        <img src="img/laeves-fl.png" alt="leaves">
    </div>
    <div class="container">
        <div class="detailed-animal-page__in">
            <div class="detailed-animal-page__in-banner">
                <div class="detailed-animal-page__in-banner__item">
                    <img src="img/mikki.jpg" alt="banner">
                    <div class="banner-text">
                        <h2>Микки</h2>
                        <div class="banner-text-info">
                            <span>Белорукий гиббон</span>
                            <a href="">Листвянка</a>
                        </div>
    
                    </div>
                </div>
                
            </div>
            <div class="detailed-animal-page__info">
                <div class="detailed-animal-page__info-text">
                    <h2 class="detailed-animal-page__title">Белорукий гиббон</h2>
                    <p>Гиббоны - стройные и грациозные обезьяны, у них длинные руки и ноги, густой мех. Они отлично приспособлены к жизни на деревьях. Перекачиваясь на руках от ветки к ветке, гиббоны могут преодолевать за один скачок по три метра. На земле гиббоны передвигаются на двух ногах, поднимая руки вверх для поддержания баланса. Живут семьями, которые обычно состоят из пары самец-самка и детенышей разных поколений. Обозначая границы своей территории, гиббоны могут издавать очень громкие крики, которые слышно в радиусе нескольких километров – некоторые называют их песнями. Молодые самцы часто поют в одиночестве, пытаясь привлечь своими вокальными данными ту единственную самку, с которой гиббон может прожить всю жизнь — в среднем, 20-30 лет.</p>
                    
                    <p>Брачных сезонов у гиббонов не существует. Каждые два-три года самка рожает по одному детёнышу, редко – двух. Детеныш сосет мать до 6-8 месяцев, потом понемногу начинает пробовать пищу взрослых. Подросшие особи могут оставаться с родителями на протяжении многих лет.
                    </p>
                    <p>Основная еда - листья, фрукты, лепестки, насекомые, изредка – птичьи яйца и небольшие позвоночные.Среда обитания: влажные тропические леса Юго-Восточной Азии.</p>
                    
                </div>
            </div>

            
            <div class="detailed-animal-page__about glide">
                <div class="glide__track" data-glide-el="track">
                    <div class="glide__slides">
                        @@for ($i = 0; $i < 2; $i++) {
                            <div class="detailed-animal-page__about-item">
                                <div class="detailed-animal-page__about-item-image">
                                    <img src="img/fairy-tales.jpg" alt="photo">
                                </div>
                                
                            </div>
                        }
                    </div>
                </div>
                
            </div>
            <div class="services__pagination" v-if="animal.slider">
                <div class="global__dots">
                    @@for ($i = 0; $i < 5; $i++) {
                        <div class="global__dot" :class="{'isActive': animal.slider.index == `+ $i +`}" @click="animal.slider.go('=`+ $i +`')">`+ $i +`</div>
                    }
                </div>
                <div class="services__arrows global__arows">
                    <div class="global__arow global__arow--prev" @click="animal.slider.go('<')">
                        <div class="global__arow-in">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 40 16" fill="none"><path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM39.7071 8.70711C40.0976 8.31658 40.0976 7.68342 39.7071 7.29289L33.3431 0.928932C32.9526 0.538408 32.3195 0.538408 31.9289 0.928932C31.5384 1.31946 31.5384 1.95262 31.9289 2.34315L37.5858 8L31.9289 13.6569C31.5384 14.0474 31.5384 14.6805 31.9289 15.0711C32.3195 15.4616 32.9526 15.4616 33.3431 15.0711L39.7071 8.70711ZM1 9H39V7H1V9Z" fill="#2B2A29"></path></svg>
                        </div>
                    </div>
                    <div class="global__arow global__arow--next" @click="animal.slider.go('>')">
                        <div class="global__arow-in">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 40 16" fill="none"><path d="M1 7C0.447715 7 0 7.44772 0 8C0 8.55228 0.447715 9 1 9V7ZM39.7071 8.70711C40.0976 8.31658 40.0976 7.68342 39.7071 7.29289L33.3431 0.928932C32.9526 0.538408 32.3195 0.538408 31.9289 0.928932C31.5384 1.31946 31.5384 1.95262 31.9289 2.34315L37.5858 8L31.9289 13.6569C31.5384 14.0474 31.5384 14.6805 31.9289 15.0711C32.3195 15.4616 32.9526 15.4616 33.3431 15.0711L39.7071 8.70711ZM1 9H39V7H1V9Z" fill="#2B2A29"></path></svg>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>