.header {
    &__in {
        
        padding: 14.5px 80px 0 84px;
        @media all and (max-width:990px) {
            padding: 0 80px 0 84px;
        }
        @media all and (max-width:740px) {
            padding: 0 16px;
        }
    }
    &__top, &__top-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .adress {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            &__geolocation {
                margin-right: 7px;
            }
            }
        .adress:first-child {
            margin-right: 24px;
        }
    }
    &__top {
        @media all and (max-width:990px) {
            display: none;
        }
    }
    &__top-item {
        .operating-mode {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__icon {
                margin-right: 13px;
            }
            span {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
            }
            .chart {
                font-weight: 300;
                margin-left: 10px;
            }
        }
        @media all and (max-width:1320px) {
            &:last-child {
                display: none;
            }
        }
        
    }
    &__bottom {
        padding: 40px 0 26px 0;
        @media all and (max-width:740px) {
            padding: 36px 0 22px 0;
        }
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media all and (max-width:740px) {
                flex-direction: row-reverse;
            }
            .logo {
                @media all and (max-width:740px) {
                    max-width: 156px;
                }
                img {
                    width: 100%;
                }
            }
            .menu {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                border: 2px solid #2B2A29;
                border-radius: 2000px;
                padding: 15px 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    @media all and (max-width:740px) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
                .line {
                    margin-right: 30px;
                    position: relative;
                    @media all and (max-width:740px) {
                        margin-right: 20px;
                    }
                }
                .line div {
                    width: 29px;
                    height: 3px;
                    background: #2B2A29;
                    border-radius: 3px;
                    @media all and (max-width:740px) {
                        width: 20px;
                    }
                }
                .line div:first-child {
                    margin-bottom: 6px;
                }
                .line div:last-child {
                    position: absolute;
                    left: 50%;
                }
            }
            .phone {
                font-weight: 700;
                font-size: 24px;
                line-height: 38px;
                @media all and (max-width:990px) {
                    display: none;
                }
            }
        }
    }
    
}