* {
    scroll-behavior: smooth;
    font-family: 'MuseoSansCyrl';
    font-style: normal;
    color: #2B2A29;
}
body {
    background: #FFFBF2;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper {
    overflow: hidden;
}


.global {
    &__arows {
        display: flex;
        align-items: center;
    }
    &__arow {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #EC6708;
        box-sizing: border-box;
        position: relative;
        cursor: pointer;
        &--prev {
            margin-right: 47px;
            transform: rotate(180deg);
        }
    }
    &__arow-in {
        width: 38px;
        position: absolute;
        top: 50%;
        right: 13px;
        transform: translateY(-50%);
        font-size: 0;
    }
    &__dots {
        display: flex;
        align-items: center;
        background: #2B2A29;
        padding: 10px;
        border-radius: 1000px;
        font-size: 0;
        box-sizing: border-box;
    }
    &__dot {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 200px;
        background: #fff;
        cursor: pointer;
        transition: all .3s ease;
        &:not(:last-child) {
            margin-right: 10px;
        }
        &.isActive {
            width: 30px;
        }
    }
}