* {
    scroll-behavior: smooth;
    font-family: 'MuseoSansCyrl';
    font-style: normal;
    color: #2B2A29;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}