.bread-crumbs {
    &-text-page ul li{
        @media all and (max-width:740px) {
            font-size: 14px;
            margin-right: 33px;
        }
        &:not(:first-child):before {
            @media all and (max-width:740px) {
                left: -23px;
            }
        }
    }
    &__in.our-pets, &__in.photos-bread-crumbs {
        padding: 40px 0 40px 80px;
        @media all and (max-width:740px) {
            padding: 40px 0 40px 16px;
        }
    }
    &__in.personal-data-bc {
        ul li {
            @media all and (max-width:740px) {
                font-weight: 400;
                font-size: 14px;
                line-height: 27px;
                
            }
            &:first-child {
                @media all and (max-width:740px) {
                    margin-right: 32px;
                }
            }
            &:last-child {
                @media all and (max-width:740px) {
                    margin-right: 0;
                }
            }
        }
        ul {
            align-items: flex-start;
        }
        ul li:not(:first-child):before {
            left: -31px;
        }
    }
    &__in {
        padding: 40px 0 50px 80px;
        
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: flex-start;
            position: relative;
        }
        ul li {
            position: relative;
            margin-right: 52px;
            font-weight: 400;
            font-size: 16px;
            line-height: 27px;
            @media all and (max-width:740px) {
                font-size: 14px;
                margin-right: 33px;
            }
        }
        ul li:not(:first-child):before {
            content: "";
            position: absolute;
            top: 11px;
            left: -28px;
            width: 12px;
            height: 7px;
            background: #009846;
            border-radius: 50%;
            @media all and (max-width:740px) {
                left: -23px;
            }
        }
        ul li a:active {
            color: #C48321
        }
    }
    
}