.buy-a-ticket {
    padding-bottom: 120px;
    @media all and (max-width:990px) {
        padding: 0 60px 120px 60px;
    }
    @media all and (max-width:740px) {
        padding: 0 16px 60px 16px;
    }
    &__in {
        max-width: 846px;
        width: 100%;
        margin: 0 auto;
        background: #EC6708;
        border-radius: 20px;
        padding: 30px 40px;
        box-sizing: border-box;
        @media all and (max-width:740px) {
            padding: 30px;
        }
        h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 48px;
            color: #fff;
            margin-top: 0;
            margin-bottom: 10px;
            @media all and (max-width:740px) {
                font-size: 24px;
                line-height: 34px;
                margin-bottom: 20px;
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media all and (max-width:740px) {
            flex-direction: column;
        }
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: #fff;
            margin: 0;
            margin-right: 83px;
            @media all and (max-width:740px) {
                margin-right: 0;
                margin-bottom: 33px;
            }
        }
        .button {
            max-width: 223px;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #fff;
            border-radius: 200px;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;    
            @media all and (max-width:740px) {
                max-width: 100%;
            }       
            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
            }
        }
    }
}