.history-by-year {
    &__in {
        padding: 0 80px;
        margin-bottom: 10px;
        @media all and (max-width:740px) {
            padding: 0 16px 0 16px;
        }
    }
    &__in-item {
        display: grid;
        // grid-template-columns: 1fr 0.4fr 1fr;
        grid-template-columns: 530fr 120fr 630fr;
        @media all and (max-width:740px) {
            
        }
        .year-line {
            width: 8px;
            height: 100%;
            background: #E5B376;
            position: relative;
            margin-top: -40px;
            padding-bottom: 158px;
            &:before {
                content: "";
                position: absolute;
                top: 50px;
                left: -12px;
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: #EC6708;
            }
            &:nth-child(1) {
                border-radius: 5000px;
            }
        }
        span {
            display: block;
            font-weight: 700;
            font-size: 44px;
            line-height: 53px;
            color: #EC6708;
        @media all and (max-width:740px) {
            font-size: 34px;
            line-height: 41px;
        }
            // &:first-child {
            //     margin-top: 35px;
            // }
        }
        .about-year {
            background: #F7E7CF;
            // margin-top: 35px;
            margin-bottom: 100px;
            border-radius: 20px;
            padding: 10px 10px 30px 10px;
            display: inherit;
            &-image {
                max-height: 300px;
                height: 100%;
                img {
                    width: 100%;
                    border-radius: 20px;
                    object-fit: cover;
                    height: 100%;
                }
            }
            p {
                padding: 20px 20px 0 20px;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                margin: 0;
            }
        }
    }

}