.banner-holiday {
    margin-bottom: 40px;
    @media all and (max-width:990px) {
        padding: 0 60px;
    }
    @media all and (max-width:740px) {
        padding: 0 16px;
        margin-bottom: 60px;
    }
    &-team {
        margin-bottom: 120px;
    }
    &__in {
        max-width: 846px;
        width: 100%;
        margin: 0 auto;
        background: #F7E7CF;
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
        
        span {
            display: block;
            text-align: center;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 16px;
            @media all and (max-width:740px) {
                margin-bottom: 16px;
            }
        }
        span:last-child {
            margin-bottom: 0;
        }
        span a {
            font-weight: 600;
        }
    }
}