.news {
    position: relative;
    &__bg {
        z-index: 5;
        position: absolute;
        bottom: 78px;
        left: 187px;
        @media all and (max-width:990px) {
            display: none;
        }
    }
    &__in {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 80px 120px;
        @media all and (max-width:990px) {
            flex-direction: column;
        }
        @media all and (max-width:740px) {
            padding: 0 16px 60px;
        }
    }
    &__left {
        width: 30%;
        padding-right: 44px;
        @media all and (max-width:990px) {
            width: 100%;
        }
        @media all and (max-width:740px) {
            padding-right: 0;
        }
        h2 {
            font-family: 'Calibri';
            font-style: normal;
            font-weight: 700;
            font-size: 96px;
            line-height: 90px;
            margin-top: 0;
            margin-bottom: 40px;
            @media all and (max-width:1130px) {
                font-size: 75px;
                line-height: 75px;
            }
            @media all and (max-width:740px) {
                font-size: 55px;
                line-height: 67px;
                margin-bottom: 20px;
            }
        }
        span {
            display: block;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            max-width: 192px;
        }
        .button {
            max-width: 223px;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #EC6708;
            border-radius: 200px;
            padding: 12px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media all and (max-width:990px) {
                display: none;
            }
            
            span {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
    &__right {
        width: 66%;
        // display: grid;
        // grid-template-columns: 1fr 1fr ;
        // grid-gap: 20px;
        width: calc(100% - 258px - 67px);
        // padding-right: 190px;
        @media all and (max-width:990px) {
            width: 100%;
        }
        .news__buttons {
            display: none;
            @media all and (max-width:990px) {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            .button {
                @media all and (max-width:990px) {
                    width: 100%;
                    box-sizing: border-box;
                    border: 2px solid #EC6708;
                    border-radius: 200px;
                    padding: 12px 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                    justify-content: space-between;
                }
                span {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    margin-right: 200px;
                    @media all and (max-width:990px) {
                        margin-right: 0;
                    }
                }
            }
        .news__arrows {
            @media all and (max-width:990px) {

                display: flex;
            }
        }
        }
    }
    &__item {
        padding: 10px 10px 20px;
        background: #FCDFB3;
        border-radius: 20px;
        height: 100%;
        &-image {
            // max-height: 300px;
            height: 300px;
            margin-bottom: 20px;
            img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-about {
            padding: 0 20px;
            span {
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #009846;
            }
            h2 {
                font-weight: 700;
                font-size: 24px;
                line-height: 38px;
                @media all and (max-width:740px) {
                    margin: 10px 0;
                }
            }
            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                @media all and (max-width:740px) {
                    margin: 0;
                }
            }
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }
    &__arrows {
        margin-left: 20px;
        @media all and (max-width:990px) {
            display: none;
        }
    }
}