.team {
    background: url("../img/team-bg.svg"), #FCDFB3;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-bottom: 120px;
    background-size: cover;
    &__in {
        padding: 150px 70px 150px 90px;
        h2 {
            font-weight: 700;
            font-size: 44px;
            line-height: 53px;
            margin-top: 0;
            margin-bottom: 40px;
        }
    }
    &__photos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    &__item {
        padding: 10px 10px 30px 10px;
        background: #FFFFFF;
        border-radius: 20px;
        &-image {
            height: 250px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-sizing: border-box;
                border-radius: 16px;
            }
        }
        span {
            display: block;
            font-weight: 700;
            font-size: 24px;
            line-height: 38px;
            margin-top: 20px;
            padding: 0 20px;
        }
    }
}